{% extends "base.html" %}

{% block main %}
<div class="page-header">
<h1>Account <a href="../.." class="btn">Back</a></h1>
</div>

<form method="post" class="well">
{% csrf_token %}



{% if email_updated %}
<p class="alert alert-success">Email updated</p>
{% endif %}


{% if email_already_used %}
<p class="alert alert-warning">Email already used</p>
{% endif %}



<label>Email <input name="new_email" type="text" value="{{ email }}"></label>

{% if password_updated %}
<p class="alert alert-success">Password udpated</p>
{% endif %}

<label>Password <input name="new_password" type="text" value=""></label>
<input type="submit" value="Update" class="btn btn-primary">
</form>

<a href="{% url portfolio_logout %}" class="btn">Logout</a>

{% endblock %}