{% extends "base.html" %}

{% block main %}
<div class="page-header">
<h1>Personnal portfolio simulator</h1>
</div>

<div class="span5">

<form method="post" class="well">
{% csrf_token %}
<h2>Create a new portfolio</h2>
<label>Portfolio name</label>
<input name="portfolio_name" type="text" class="span3" placeholder="">
<label>Initial cash in $
<input name="initial_cash" type="text" class="span2"></label>
<button type="submit" class="btn btn-primary">Create</button>
</form>

{% if portfolios %}

<table class="table table-striped">
<caption>Your Portfolios</caption>
<thead>
<thead>
<tr>
<th>
Name
</th>
<th>
Performance
</th>
</tr>
</thead>

</thead>
<tbody>

{% for p in portfolios %}
<tr><td><a href="/{{ p.id }}/">{{ p.name }}</td><td class="{% if p.profit_percent < 0 %}lose{% else %}win{% endif %}">{{ p.profit_percent|floatformat }}%</td></tr>
{% endfor %}
</tbody>
</table>

{% endif %}

</div>
<div class="span6">

{% if authenticated %}
<a href="{% url portfolio_account %}" class="btn">Manage my account</a>
{% else %}
<h3>Login</h3>
<form action="{% url portfolio_login %}" method="post">
{% csrf_token %}
<label for="email">Email</label><input type="text" name="email" value="" id="email" />
<label for="password">Password</label><input type="password" name="password" value="" id="password" />
<p><input type="submit"  class="btn" value="Login"></p>
</form>

<a href="{% url portfolio_account %}" class="btn">Create an account</a>

{% endif %}

</div>

{% endblock %}