{% extends "base.html" %}

{% block main %}
<div class="page-header">
<h1>Login <a href="../.." class="btn">Back</a></h1>
</div>

{% if authenticated %}
<a href="{% url portfolio_account %}" class="btn">Manage my account</a>
<a href="{% url portfolio_logout %}" class="btn">Logout</a>
{% endif %}

{% if auth_failed %}
<p class="alert alert-fail">Incorrect credentials</p>
{% endif %}

<h3>Login</h3>
<form action="{% url portfolio_login %}" method="post">
{% csrf_token %}
<label for="email">Email</label><input type="text" name="email" value="" id="email" />
<label for="password">Password</label><input type="password" name="password" value="" id="password" />
<p><input type="submit"  class="btn" value="Login"></p>
</form>


{% endblock %}